:root {
--roman-silver: #84828fff;
--old-lavender: #6a687aff;
--black-coral: #536271ff;
--charcoal: #3e4c5eff;
--prussian-blue: #2c3d55ff;
}

.App {
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;

  background-color: var(--prussian-blue);
  color: wheat;
}

#title {
  margin-bottom: 0.5rem;
}
#subtitle {
  margin-top: 0px;
  opacity: 70%;
}