:root {
    /* CSS HEX */
--roman-silver: #84828fff;
--old-lavender: #6a687aff;
--black-coral: #536271ff;
--charcoal: #3e4c5eff;
--prussian-blue: #2c3d55ff;
}
#calculator {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 20rem;
    background: var(--charcoal);
    padding: 1rem;
}
#keys {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr) ;
    grid-template-areas:
    "AC AC AC DV"
    "SV EI NI MT"
    "FO FI SI ST"
    "ON TW TH AD"
        "ZR DC EQ EQ";
        column-gap: 0.2rem;
        row-gap: 0.2rem;
}

#displayArea {
    background-color: var(--roman-silver);
    grid-area: DP;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: pink;
    text-align: end;
    /* height: 5rem; */
}
#display, #idk {
    height: 2rem;
    margin: 0px;
}

button {
    font-size: xx-large;
    background-color: var(--black-coral);
    color: paleturquoise;
    border-width: 0.1rem;
    /* border-radius: 0.7rem; */
}

button:hover {
    border-radius: 1rem;
    background-color: var(--old-lavender);
}

button:active {
    background-color: var(--roman-silver);
}
#clear { grid-area: AC;}
#divide { grid-area: DV;}
#seven { grid-area: SV;}
#eight { grid-area: EI;}
#nine { grid-area: NI;}
#multiply { grid-area: MT;}
#four { grid-area: FO;}
#five { grid-area: FI;}
#six { grid-area: SI;}
#subtract { grid-area: ST;}
#one { grid-area: ON;}
#two { grid-area: TW;}
#three { grid-area: TH;}
#add { grid-area: AD;}
#zero { grid-area: ZR;}
#decimal { grid-area: DC;}
#equals { grid-area: EQ;}
/* # { grid-area: ;} */
